---
layout: default.liquid
title: Projects
data:
    keywords: Richard,Leek,Richard Leek,Projects,Rust
---

<div class="project">
    <h2 class="title">Website</h2>
    <img class="screenshot" src="/files/images/projects/website.png" alt="Website screenshot">
    <p class="description">
        The source code for this website!
        <br />
        <a class="url" href="https://git.sr.ht/~rleek/website">https://git.sr.ht/~rleek/website</a>
    </p>
</div>

<hr />

<div class="project">
    <h2 class="title">EOBot</h2>
    <img class="screenshot" src="/files/images/projects/eobot.png" alt="EObot screenshot">
    <p class="description">
        A network bot for Endless Online. Just for fun.
        <br />
        <a class="url" href="https://git.sr.ht/~rleek/eobot">https://git.sr.ht/~rleek/eobot</a>
    </p>
</div>
