<br />
<footer>
    Powered by <a href="https://cobalt-org.github.io/">cobalt.rs</a> <a href="https://git.sr.ht/~rleek/website">[website source code]</a><br />
    This work is licensed under a
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        Creative Commons Attribution 4.0 International License</a>.
</footer>