<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>Richard Leek - {{ page.title }}</title>
<link rel="stylesheet" href="/css/normalize.min.css"/>
<link rel="stylesheet" href="/css/style.css"/>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.data.keywords }}">
<meta name="author" content="Richard Leek">
<link rel="alternate" href="/rss.xml" type="application/rss+xml" title="RSS" />
