<header>
    <h1>Richard Leek</h1>
    <ul id="menu">
        <li><a class="btn" href="/index.html">Home</a></li>
        <li><a class="btn" href="/projects.html">Projects</a></li>
        <li><a class="btn" href="/about.html">About</a></li>
        <li><a class="btn" href="/contact.html">Contact</a></li>
    </ul>
</header>